.logo{
    width: 100px;
}

body{
    background: #f3f3f3;
}

.main{
    background: rgba(255,255,255,0.9);
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
}
.page-title{
    text-align: center;
}
