<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{% block title %}{% endblock %}-HITChat</title>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://mtg.jflyfox.com:80/template/mtg/includes/common_pack.js"></script>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<script src="http://mtg.jflyfox.com:80/static/component/bootstrap/bootstrap-common_pack.js"></script>
	<link href="http://cdn.bootcss.com/bootstrap3-dialog/1.34.4/css/bootstrap-dialog.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/bootstrap3-dialog/1.34.4/js/bootstrap-dialog.min.js"></script>


	<script type="text/javascript" src="http://mtg.jflyfox.com:80/template/mtg/includes/common_pack.js"></script>
	<!-- 返回顶端 -->
	<link rel="stylesheet" href="http://mtg.jflyfox.com:80/static/front/home.min.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/base_detail.css') }}">
    {% block head %}{% endblock %}
    
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="top:0;position: fixed;width: 100%">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="padding:0 0 0 15px;" href="http://www.hit.edu.cn/" target="_blank">
                  <img src="{{ url_for('static',filename='images/logo.png') }}" alt="" style="max-width:130px;">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                        <li class=" active "><a href="{{ url_for('index') }}">首页</a></li>
                        <li class="  "><a href="{{ url_for('question') }}">发布问答</a></li>
						<li class="  "><a href="{{ url_for('classify') }}">话题</a></li>
                        <li class="  "><a href="{{ url_for('news') }}">新闻速递</a></li>
                        <li class="  "><a href="http://www.hitchat.cn:3000/" target="_blank">HITChat</a></li>
                        <li class="  "><a href="{{ url_for('aiml_detail') }}">聪明的一休哥</a></li>
                        
                        <li class="   "><a href="#">标签查询</a></li>

                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                                    <li class="  "><a href="http://mtg.jflyfox.com:80/park.html">公园</a></li>
                                    <li class="  "><a href="http://mtg.jflyfox.com:80/market.html">商场</a></li>
                                    <li class="  "><a href="http://mtg.jflyfox.com:80/house.html">房产</a></li>
                                    <li class="  "><a href="http://mtg.jflyfox.com:80/other.html">其他资讯</a></li>
                                    <li class="   "><a href="http://mtg.jflyfox.com:80/front/about">关于我们</a></li>
                                    <li class="  "><a href="http://mtg.jflyfox.com:80/advice.html">意见反馈</a></li>
                          </ul>
                        </li>


              </ul>
              <form class="navbar-form navbar-left" action="{{ url_for('search') }}"
              method="GET">
                <div class="form-group">
                  <input name="q" type="text" class="form-control" placeholder="请输入关键字">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
              </form>
              <ul class="navbar-nav navbar-right" style="list-style: none;">
                  {% if user %}
                      <li><a href="{{ url_for('showbasicmessage', msgid=user.id) }}" target="_blank" title="用户中心">
                          {% if picid == '0' %}
                                <img src="{{url_for('static', filename='images/logo.png')}}" alt="...图像加载失败" style="margin-top:0;max-width:120px;"><br>
                          {% else %}
                                <img src="{{url_for('static', filename='images/userimage/'+ usermsg.telephone + picid +'.png')}}" alt="...图像加载失败" style="margin-top:7px;width:50px;height:36px"><br>
                          {% endif %}
                      </a></li>
                      <li><div style="margin-top:15px;max-width:130px;margin-left: 15px"><a href="{{ url_for('logout') }}">注销</a></div></li>
                  {% else %}
                      <li><div style="margin-top:10px;max-width:130px;"><a href="{{ url_for('login') }}">登录</a></div></li>
                      <li><div style="margin-top:10px;max-width:130px;"><a href="{{ url_for('register') }}">注册</a></div></li>
                  {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
	<!-- 固定导航  height为导航栏高度-->
	<div class="row" style="height:60px;">
	  <div class="col-md-12">
			&nbsp;
	  </div>
	</div>
    </div>
    <script>
     $(function () {
        $(".navbar-nav").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    })
     </script>

    <div class="main">
        {% block main %}{% endblock %}
    </div>
	{% block bottom %}{% endblock %}
	{% block other %} {% endblock %}
</body>
</html>