<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本资料</title>
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
    .size {
        width:190px;
        height:180px;
        margin-left:22%;
        margin-bottom:10px;
    }
    .size1 {
        margin-left:22%;
    }
</style>
</head>
<body>

<ul class="nav nav-pills nav-stacked">
    <li class="active" style="font-size:20px; font-family:'楷体'"><a ><span class="glyphicon glyphicon-align-justify"></span>个人中心</a></li>
</ul>


<div class="line">
 <div class="col-sm-9 col-md-3">
    <div class="thumbnail">
      <div class="caption">

<div class="list-group">
    {% if picid == '0' %}
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="...图像加载失败" class="size"><br>
    {% else %}
        <img src="{{url_for('static', filename='images/userimage/'+ usermsg.telephone + picid +'.png')}}" alt="...图像加载失败" class="size"><br>
    {% endif %}
    <label class="size1" style="font-size:16px; font-family:'楷体'">用户名：{{usermsg.username}}</label><br>
    <label class="size1" style="font-size:16px; font-family:'楷体'">座右铭：{{usermsg.motto}}</label><br><br>

    <!--<a href="BasicMessage.html" class="list-group-item active">基本资料</a>-->
    <!--<a href="Education.html" class="list-group-item">教育背景</a>-->
    <!--<a href="Work.html" class="list-group-item">工作信息</a>-->
    <!--<a href="HeadPortrait.html" class="list-group-item">头像设置</a>-->
<ul class="nav nav-pills nav-stacked">
    <a href="{{ url_for('basicmessage') }}" class="list-group-item active"><span class="glyphicon glyphicon-send"></span>编辑基本资料</a>
    <a href="{{ url_for('personalitymessage') }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>编辑个性资料</a>
    <a href="{{ url_for('headportrait') }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>更改头像</a>
</ul>
    <br><br><br>
<ul class="nav nav-pills nav-stacked">
    <a href="{{ url_for('showbasicmessage', msgid=usermsg.id) }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>返回个人中心</a>
</ul>
    <br><br><br>

</div>

      </div>
    </div>
  </div>
</div>


<div class="line">
 <div class="col-sm-9 col-md-8">
    <div class="thumbnail">
      <div class="caption">

 <div class="list-group">

 <ul class="nav nav-pills nav-stacked">
 <li ><label class="list-group-item"><span class="glyphicon glyphicon-send"></span>编辑基本资料</label></li>
 </ul>

 <br><br>
<form action="{{ url_for('showbasicmessage', msgid=usermsg.id)}}" method="POST">

<label class="inline   col-md-offset-1">用户名：&nbsp&nbsp&nbsp&nbsp</label>
    <label class="select-inline">
    <input type="text" class="form-control" placeholder="{{usermsg.username}}" name="username">
</label>

<br><br>

<label class="inline   col-md-offset-1">真实姓名：</label>
    <label class="select-inline">
    <input type="text" class="form-control" placeholder="{{usermsg.realname}}" name="realname">
</label>

<br><br>

<label class="col-md-offset-1">性别：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>

<label class="select-inline">
<select class="form-control" name="gender">
    {% if usermsg.gender == '男' %}<option selected="selected">男</option>{% else %}<option>男</option>{% endif %}
    {% if usermsg.gender == '女' %}<option selected="selected">女</option>{% else %}<option>女</option>{% endif %}
</select>
</label>

 <br><br>

<label class="inline col-md-offset-1">出生日期：</label>

<label class="select-inline">
<select class="form-control" name="birthyear">
    {% if usermsg.birthyear == '1990年' %}<option selected="selected">1990年</option>{% else %}<option>1990年</option>{% endif %}
    {% if usermsg.birthyear == '1991年' %}<option selected="selected">1991年</option>{% else %}<option>1991年</option>{% endif %}
    {% if usermsg.birthyear == '1992年' %}<option selected="selected">1992年</option>{% else %}<option>1992年</option>{% endif %}
    {% if usermsg.birthyear == '1993年' %}<option selected="selected">1993年</option>{% else %}<option>1993年</option>{% endif %}
    {% if usermsg.birthyear == '1994年' %}<option selected="selected">1994年</option>{% else %}<option>1994年</option>{% endif %}
    {% if usermsg.birthyear == '1995年' %}<option selected="selected">1995年</option>{% else %}<option>1995年</option>{% endif %}
    {% if usermsg.birthyear == '1996年' %}<option selected="selected">1996年</option>{% else %}<option>1996年</option>{% endif %}
    {% if usermsg.birthyear == '1997年' %}<option selected="selected">1997年</option>{% else %}<option>1997年</option>{% endif %}
    {% if usermsg.birthyear == '1998年' %}<option selected="selected">1998年</option>{% else %}<option>1998年</option>{% endif %}
    {% if usermsg.birthyear == '1999年' %}<option selected="selected">1999年</option>{% else %}<option>1999年</option>{% endif %}
    {% if usermsg.birthyear == '2000年' %}<option selected="selected">2000年</option>{% else %}<option>2000年</option>{% endif %}

</select>
</label>

<label class="select-inline">
<select class="form-control" name="birthmonth">
    {% if usermsg.birthmonth == '1月' %}<option selected="selected">1月</option>{% else %}<option>1月</option>{% endif %}
    {% if usermsg.birthmonth == '2月' %}<option selected="selected">2月</option>{% else %}<option>2月</option>{% endif %}
    {% if usermsg.birthmonth == '3月' %}<option selected="selected">3月</option>{% else %}<option>3月</option>{% endif %}
    {% if usermsg.birthmonth == '4月' %}<option selected="selected">4月</option>{% else %}<option>4月</option>{% endif %}
    {% if usermsg.birthmonth == '5月' %}<option selected="selected">5月</option>{% else %}<option>5月</option>{% endif %}
    {% if usermsg.birthmonth == '6月' %}<option selected="selected">6月</option>{% else %}<option>6月</option>{% endif %}
    {% if usermsg.birthmonth == '7月' %}<option selected="selected">7月</option>{% else %}<option>7月</option>{% endif %}
    {% if usermsg.birthmonth == '8月' %}<option selected="selected">8月</option>{% else %}<option>8月</option>{% endif %}
    {% if usermsg.birthmonth == '9月' %}<option selected="selected">9月</option>{% else %}<option>9月</option>{% endif %}
    {% if usermsg.birthmonth == '10月' %}<option selected="selected">10月</option>{% else %}<option>10月</option>{% endif %}
    {% if usermsg.birthmonth == '11月' %}<option selected="selected">11月</option>{% else %}<option>11月</option>{% endif %}
    {% if usermsg.birthmonth == '12月' %}<option selected="selected">12月</option>{% else %}<option>12月</option>{% endif %}
</select>
</label>

<label class="select-inline">
<select class="form-control" name="birthday">
    {% if usermsg.birthday == '1日' %}<option selected="selected">1日</option>{% else %}<option>1日</option>{% endif %}
    {% if usermsg.birthday == '2日' %}<option selected="selected">2日</option>{% else %}<option>2日</option>{% endif %}
    {% if usermsg.birthday == '3日' %}<option selected="selected">3日</option>{% else %}<option>3日</option>{% endif %}
    {% if usermsg.birthday == '4日' %}<option selected="selected">4日</option>{% else %}<option>4日</option>{% endif %}
    {% if usermsg.birthday == '5日' %}<option selected="selected">5日</option>{% else %}<option>5日</option>{% endif %}
    {% if usermsg.birthday == '6日' %}<option selected="selected">6日</option>{% else %}<option>6日</option>{% endif %}
    {% if usermsg.birthday == '7日' %}<option selected="selected">7日</option>{% else %}<option>7日</option>{% endif %}
    {% if usermsg.birthday == '8日' %}<option selected="selected">8日</option>{% else %}<option>8日</option>{% endif %}
    {% if usermsg.birthday == '9日' %}<option selected="selected">9日</option>{% else %}<option>9日</option>{% endif %}
    {% if usermsg.birthday == '10日' %}<option selected="selected">10日</option>{% else %}<option>10日</option>{% endif %}
    {% if usermsg.birthday == '11日' %}<option selected="selected">11日</option>{% else %}<option>11日</option>{% endif %}
    {% if usermsg.birthday == '12日' %}<option selected="selected">12日</option>{% else %}<option>12日</option>{% endif %}
    {% if usermsg.birthday == '13日' %}<option selected="selected">13日</option>{% else %}<option>13日</option>{% endif %}
    {% if usermsg.birthday == '14日' %}<option selected="selected">14日</option>{% else %}<option>14日</option>{% endif %}
    {% if usermsg.birthday == '15日' %}<option selected="selected">15日</option>{% else %}<option>15日</option>{% endif %}
    {% if usermsg.birthday == '16日' %}<option selected="selected">16日</option>{% else %}<option>16日</option>{% endif %}
    {% if usermsg.birthday == '17日' %}<option selected="selected">17日</option>{% else %}<option>17日</option>{% endif %}
    {% if usermsg.birthday == '18日' %}<option selected="selected">18日</option>{% else %}<option>18日</option>{% endif %}
    {% if usermsg.birthday == '19日' %}<option selected="selected">19日</option>{% else %}<option>19日</option>{% endif %}
    {% if usermsg.birthday == '20日' %}<option selected="selected">20日</option>{% else %}<option>20日</option>{% endif %}
    {% if usermsg.birthday == '21日' %}<option selected="selected">21日</option>{% else %}<option>21日</option>{% endif %}
    {% if usermsg.birthday == '22日' %}<option selected="selected">22日</option>{% else %}<option>22日</option>{% endif %}
    {% if usermsg.birthday == '23日' %}<option selected="selected">23日</option>{% else %}<option>23日</option>{% endif %}
    {% if usermsg.birthday == '24日' %}<option selected="selected">24日</option>{% else %}<option>24日</option>{% endif %}
    {% if usermsg.birthday == '25日' %}<option selected="selected">25日</option>{% else %}<option>25日</option>{% endif %}
    {% if usermsg.birthday == '26日' %}<option selected="selected">26日</option>{% else %}<option>26日</option>{% endif %}
    {% if usermsg.birthday == '27日' %}<option selected="selected">27日</option>{% else %}<option>27日</option>{% endif %}
    {% if usermsg.birthday == '28日' %}<option selected="selected">28日</option>{% else %}<option>28日</option>{% endif %}
    {% if usermsg.birthday == '29日' %}<option selected="selected">29日</option>{% else %}<option>29日</option>{% endif %}
    {% if usermsg.birthday == '30日' %}<option selected="selected">30日</option>{% else %}<option>30日</option>{% endif %}
    {% if usermsg.birthday == '31日' %}<option selected="selected">31日</option>{% else %}<option>31日</option>{% endif %}

</select>
</label>

<br><br>


<label class="inline  col-md-offset-1">学院：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
<label class="select-inline">

    <select class="form-control"  name="institute">
    {% if usermsg.institude == '计算机学院' %}<option selected="selected">计算机学院</option>{% else %}<option>计算机学院</option>{% endif %}
    {% if usermsg.institude == '理学院' %}<option selected="selected">理学院</option>{% else %}<option>理学院</option>{% endif %}
    {% if usermsg.institude == '机电学院' %}<option selected="selected">机电学院</option>{% else %}<option>机电学院</option>{% endif %}
    {% if usermsg.institude == '材料学院' %}<option selected="selected">材料学院</option>{% else %}<option>材料学院</option>{% endif %}
    {% if usermsg.institude == '建筑学院' %}<option selected="selected">建筑学院</option>{% else %}<option>建筑学院</option>{% endif %}
    {% if usermsg.institude == '人文学院' %}<option selected="selected">人文学院</option>{% else %}<option>人文学院</option>{% endif %}
    {% if usermsg.institude == '基础学院' %}<option selected="selected">基础学院</option>{% else %}<option>基础学院</option>{% endif %}
    </select>
</label>

<br><br>

<label class="inline  col-md-offset-1">联系方式：</label>
    <label class="select-inline">
    <input type="text" class="form-control" name="contactway" placeholder="{{usermsg.contactway}}">
</label>

     <br><br>

    <button class="btn btn-primary btn-lg  col-md-offset-2">保存</button>
</form>

      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>