<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
    .size {
        width:190px;
        height:180px;
        margin-left:22%;
        margin-bottom:10px;
    }
    .size1 {
        margin-left:22%;
    }
</style>
</head>
<body>

<ul class="nav nav-pills nav-stacked">
    <li class="active" style="font-size:20px; font-family:'楷体'"><a ><span class="glyphicon glyphicon-align-justify"></span>个人中心</a></li>
</ul>


<div class="line">
 <div class="col-sm-9 col-md-3">
    <div class="thumbnail">
      <div class="caption">

<div class="list-group">
    {% if picid == '0' %}
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="...图像加载失败" class="size"><br>
    {% else %}
        <img src="{{url_for('static', filename='images/userimage/'+ usermsg.telephone + picid + '.png')}}" alt="...图像加载失败" class="size"><br>
    {% endif %}
    <label class="size1" style="font-size:16px; font-family:'楷体'">用户名：{{usermsg.username}}</label><br>
    <label class="size1" style="font-size:16px; font-family:'楷体'">座右铭：{{usermsg.motto}}</label><br><br>

    <!--<a href="BasicMessage.html" class="list-group-item active">基本资料</a>-->
    <!--<a href="Education.html" class="list-group-item">教育背景</a>-->
    <!--<a href="Work.html" class="list-group-item">工作信息</a>-->
    <!--<a href="HeadPortrait.html" class="list-group-item">头像设置</a>-->
<ul class="nav nav-pills nav-stacked">
    <a href="{{url_for('showbasicmessage', msgid=usermsg.id) }}" class="list-group-item active"><span class="glyphicon glyphicon-send"></span>基本资料</a>
    <a href="{{ url_for('showpersonalitymessage', msgid=usermsg.id) }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>个性资料</a>
    <a href="{{ url_for('userquestion', msgid=usermsg.id) }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>发表的帖子</a>
    <a href="{{ url_for('useranswer', msgid=usermsg.id) }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>发表的评论</a>
</ul>
<br><br><br>
    {% if currentid == usermsg.id %}
        <ul class="nav nav-pills nav-stacked">
            <a href="{{ url_for('basicmessage') }}" class="list-group-item"><span class="glyphicon glyphicon-send"></span>编辑资料</a>
        </ul>
    {% endif %}

</div>

      </div>
    </div>
  </div>
</div>


<div class="line">
 <div class="col-sm-9 col-md-8">
    <div class="thumbnail">
      <div class="caption">

 <div class="list-group">

 <ul class="nav nav-pills nav-stacked">
 <li ><label class="list-group-item"><span class="glyphicon glyphicon-send"></span>基本资料</label></li>
 </ul>

    <br><br>

<label class="inline col-md-offset-1">用户名：&nbsp&nbsp&nbsp&nbsp</label>
     <label>{{usermsg.username}}</label>

    <br><br>

<label class="inline col-md-offset-1">真实姓名：</label>
     <label>{{usermsg.realname}}</label>

    <br><br>

<label class="col-md-offset-1">性别：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
     <label>{{usermsg.gender}}</label>

     <br><br>

<label class="inline col-md-offset-1">出生日期：</label>
     <label>{{usermsg.birthyear}}{{usermsg.birthmonth}}{{usermsg.birthday}}</label>

    <br><br>

<label class="inline  col-md-offset-1">学院：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
     <label>{{usermsg.institude}}</label>

    <br><br>

<label class="inline  col-md-offset-1">联系方式：</label>
     <label>{{usermsg.contactway}}</label>


      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>