.logo{
    width: 100px;
}

body{
    background: rgba(238, 238, 238, 0.9);
}

.main{
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    margin-top: 90px;
    /*z-index: -1;*/
}

.page-title{
    text-align: center;
}
